doctype html

html(lang='en')
  head
    meta(charset='utf-8')

    block title
      title Wizards & Witches @ Work

    link(
      rel='icon'
      href=`${WEB_ROOT}favicon.ico`
    )

    meta(
      name='description'
      content='Wizards & Witches @ Work - magically shifting paradigms'
    )

    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )

    link(
      rel='stylesheet'
      href=`${WEB_ROOT}main.css`
    )

  body(id='♥')
    .main
      block content
        div no content

    .social
      ul
        li
          a(href="https://www.facebook.com/wiznwit" target="_blank" rel="noopener noreferrer")
            include /social/fb.svg
        li
          a(href="https://twitter.com/wizardsatwork" target="_blank" rel="noopener noreferrer")
            include /social/tw.svg

    block scripts
      script(src=`${WEB_ROOT}js/index.js`)